<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Template>1_IBM Brand Template 2022 (Microgrid)</Template>
  <TotalTime>6336</TotalTime>
  <Words>13869</Words>
  <Application>Microsoft Macintosh PowerPoint</Application>
  <PresentationFormat>Custom</PresentationFormat>
  <Paragraphs>867</Paragraphs>
  <Slides>33</Slides>
  <Notes>27</Notes>
  <HiddenSlides>0</HiddenSlides>
  <MMClips>0</MMClips>
  <ScaleCrop>false</ScaleCrop>
  <HeadingPairs>
    <vt:vector size="6" baseType="variant">
      <vt:variant>
        <vt:lpstr>Fonts Used</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>8</vt:i4>
      </vt:variant>
      <vt:variant>
        <vt:lpstr>Theme</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>2</vt:i4>
      </vt:variant>
      <vt:variant>
        <vt:lpstr>Slide Titles</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>33</vt:i4>
      </vt:variant>
    </vt:vector>
  </HeadingPairs>
  <TitlesOfParts>
    <vt:vector size="43" baseType="lpstr">
      <vt:lpstr>Arial</vt:lpstr>
      <vt:lpstr>IBM Plex Sans</vt:lpstr>
      <vt:lpstr>IBM Plex Sans ExtLt</vt:lpstr>
      <vt:lpstr>IBM Plex Sans Light</vt:lpstr>
      <vt:lpstr>IBM Plex Sans Medm</vt:lpstr>
      <vt:lpstr>Red Hat Text</vt:lpstr>
      <vt:lpstr>Slack-Lato</vt:lpstr>
      <vt:lpstr>System Font Regular</vt:lpstr>
      <vt:lpstr>IBM TechXchange 2023</vt:lpstr>
      <vt:lpstr>1_IBM Brand Template 2022 (Microgrid)</vt:lpstr>
      <vt:lpstr>1378: Better practices to accelerate mainframe application modernization with public cloud</vt:lpstr>
      <vt:lpstr>IBM’s approach lets you continuously modernize applications &amp; data on IBM Z and Cloud</vt:lpstr>
      <vt:lpstr>IBM’s approach lets you continuously modernize applications &amp; data on IBM Z and Cloud</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>IBM’s approach lets you continuously modernize applications &amp; data on IBM Z and Cloud</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>Using Java for application modernization</vt:lpstr>
      <vt:lpstr>AI-generated  high-quality code</vt:lpstr>
      <vt:lpstr>Interoperability  &amp; optimization</vt:lpstr>
      <vt:lpstr>Large European Bank </vt:lpstr>
      <vt:lpstr>IBM’s approach lets you continuously modernize applications &amp; data on IBM Z and Cloud</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>API lifecycle innovation with z/OS Connect</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>IBM’s approach lets you continuously modernize applications &amp; data on IBM zSystems and Cloud</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>IBM’s approach lets you continuously modernize applications &amp; data on IBM Z and Cloud</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>IBM Z AIOps strategy</vt:lpstr>
      <vt:lpstr>IBM’s approach lets you continuously modernize applications &amp; data on IBM Z and Cloud</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>IBM’s approach lets you continuously modernize applications &amp; data on IBM Z and Cloud</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>Red Hat + IBM Research partnered to bring AI to Ansible </vt:lpstr>
      <vt:lpstr>How are IBM Z clients currently using Open Enterprise Languages for application modernization? </vt:lpstr>
      <vt:lpstr>Key References:</vt:lpstr>
      <vt:lpstr>Highly recommend you go here to see/learn more </vt:lpstr>
      <vt:lpstr>Call for Code®</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>Thank you.</vt:lpstr>
      <vt:lpstr>Notices and disclaimers</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
    </vt:vector>
  </TitlesOfParts>
  <Manager/>
  <Company/>
  <LinksUpToDate>false</LinksUpToDate>
  <SharedDoc>false</SharedDoc>
  <HyperlinkBase/>
  <HyperlinksChanged>false</HyperlinksChanged>
  <AppVersion>16.0000</AppVersion>
</Properties>
